{% extends 'base.html' %}
{% block style %}
<style>
    .container { 
        text-align: center;
    }
    
    .container a {
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 10%;
        padding: 8px;
        color: black;
    }
</style>
{% endblock %}
{% block app_content %}
    <h1 style="text-align: center;">Admin Panel</h1>
    <div class="">
        <a href="?action=list_users">List of Users</a>
        <a href="?action=delete_users">Delete Users</a>
        <a href="?action=add_users">Add Users</a>
    </div>
    {% if route == 'list_users' %}
        <h2>List of Users</h2>
    {% elif route == 'delete_users' %}
        <h2>Delete Users</h2>
    {% elif route == 'add_users' %}
        <h2>Add Users</h2>
    {% endif %}
{% endblock %}