{% extends 'base.html' %}
{% block style %}
<style>
    .menu{ 
       display: flex;
       justify-content: space-between;
       padding-bottom: 15px;
    }
    .menu a {
        padding: 0 130px;
        color: black;
    }

    table {
        width: 90%;
        margin: auto; 
    }

    th, td {
        text-align: center;
        border: 1px solid black;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
    
</style>
{% endblock %}
{% block app_content %}
    <h1 style="text-align: center;">Admin Panel</h1>
    <nav class="menu">
        <a href="?action=list_users">List of Users</a>
        <a href="?action=delete_db_submit">Delete all database</a>
    </nav>
    {% if route == 'list_users' %}
        <table> 
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Status</th>
                <th>Role</th>
                <th>Delete</th>
                <th>Update Status</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <form style="text-align: center">
                            <input type="hidden" name="username" value="{{ user.username}}"/>
                            <input type="submit" name="action" value="delete"/>
                        </form>
                    </td>
                    <td>
                        <form style="text-align: center">
                            <input type="hidden" name="username" value="{{ user.username }}"/>
                            <input type="submit" name="status" value="ACTIVE"/>
                            <input type="submit" name="status" value="DEACTIVATED"/>
                            <input type="submit" name="status" value="BANNED"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% elif route == 'delete_db_submit' %}
        <form action="/admin?action=delete_db" method="post" style="text-align: center;">
            <p>Are you sure?</p>
            <input type="submit" value="Delete Database" />
        </form>
    {% endif %}
{% endblock %}